@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
   accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
 ),
  typography: mat.define-typography-config(),
  density: 0,
));

$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
 ),
));

@include mat.all-component-themes($dark-theme);

@media (prefers-color-scheme: light) {
 @include mat.all-component-colors($light-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
